
@{
    Layout = null;
}

<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12 col-xs-12">
                                        <div class="col-md-12" style="border-bottom:1px solid #ddd;margin-bottom: 10px;">
                                            <h4><b>Tìm kiếm hồ sơ nâng cao</b></h4>
                                        </div>
                                        <div class="" style="">
                                            <form class="col-md-10">
                                                <div class="form-group col-md-12">
                                                    <label class="col-sm-2">Phông</label>
                                                    <div class="col-sm-4">
                                                        <select name="" class="col-md-12">
                                                            <option value="">--Tất cả--</option>
                                                            <option value="">Bộ công chánh</option>
                                                        </select>
                                                    </div>

                                                    <label class="col-sm-2">Loại tài liệu</label>
                                                    <div class="col-sm-4">
                                                        <select name="" class="col-md-12">
                                                            <option value="">--Tất cả--</option>
                                                            <option value="">Bộ công chánh</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <label class="col-sm-2">Hồ sơ số</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Hồ sơ số">
                                                    </div>

                                                    <label class="col-sm-2">Tiêu đề</label>
                                                    <div class="col-sm-4">
                                                        <input type="text" class="form-control" placeholder="Tiêu đề">
                                                    </div>
                                                </div>

                                                <div class="form-group col-md-12">
                                                    <button class="btn btn-primary pull-right" style="margin-right: 15px;">
                                                        <i class="fa fa-search-plus"></i>Tìm kiếm
                                                    </button>
                                                </div>
                                            </form>

                                            <div class="col-md-2">
                                                <h4 class="text-center"><i class="fa fa-wrench"></i> Công cụ</h4>
                                                <div class="">
                                                    <ul style="list-style: none; padding: 0;">

                                                        <li style="margin-bottom: 10px; padding-left: 10px;">
                                                            <a href="product/kttltimkiemhoso/searchvb.html" style="font-size: 15px;">
                                                                <i class="fa fa-search"> Tìm kiếm văn bản</i>
                                                            </a>
                                                        </li>

                                                        <li style="margin-bottom: 10px; padding-left: 10px;">
                                                            <a href="" style="font-size: 15px;">
                                                                <i class="fa fa-search-plus">Tìm kiếm nâng cao</i>
                                                            </a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="col-md-12" style="overflow: auto; min-height: 500px;">
                                                <div class="col-md-12" style="margin-bottom: 10px;padding:0;">
                                                    <label for="">Có khoảng: <span>7</span> kết quả</label>
                                                </div>
                                                <ul style="list-style: none; padding: 0; min-height: 430px;">
                                                    <li style="border-bottom: 1px dotted #ddd;">
                                                        <span class="pull-left" style="min-height:100px;margin-right: 10px;">
                                                            <i class="fa fa-folder-open" style="font-size: 50px;"></i>
                                                        </span>

                                                        <div class="pull-right">
                                                            <a href="#"><h4><i class="fa fa-shopping-cart"></i></h4></a>
                                                            <a href="#"><h4><i class="fa  fa-star-o"></i></h4></a>
                                                        </div>

                                                        <div class="text">
                                                            <a href="">
                                                                <h4 style="font-size: 15px; font-weight: normal;">Báo cáo thành tích hoạt động từ ngày 25.5 - 31.12.1968 của Phủ QVK Đặc trách Văn hóa</h4>
                                                            </a>
                                                            <p>
                                                                Mục lục: <span>01</span>
                                                                - Hộp số: <span>1</span>
                                                                - Hồ sơ số: <span>1</span>
                                                                <br>
                                                                Thời gian: <span></span>
                                                                <br>
                                                                Phông: <a href="">Bộ công chánh và giao thông</a>
                                                            </p>
                                                        </div>
                                                    </li>

                                                    <li style="border-bottom: 1px dotted #ddd;">
                                                        <span class="pull-left" style="min-height:100px;margin-right: 10px;">
                                                            <i class="fa fa-folder-open" style="font-size: 50px;"></i>
                                                        </span>

                                                        <div class="pull-right">
                                                            <a href="#"><h4><i class="fa fa-shopping-cart"></i></h4></a>
                                                            <a href="#"><h4><i class="fa  fa-star-o"></i></h4></a>
                                                        </div>

                                                        <div class="text">
                                                            <a href="">
                                                                <h4 style="font-size: 15px; font-weight: normal;">Báo cáo thành tích hoạt động từ ngày 25.5 - 31.12.1968 của Phủ QVK Đặc trách Văn hóa</h4>
                                                            </a>
                                                            <p>
                                                                Mục lục: <span>01</span>
                                                                - Hộp số: <span>1</span>
                                                                - Hồ sơ số: <span>1</span>
                                                                <br>
                                                                Thời gian: <span></span>
                                                                <br>
                                                                Phông: <a href="">Bộ công chánh và giao thông</a>
                                                            </p>
                                                        </div>
                                                    </li>
                                                </ul>

                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination">
                                                        <li>
                                                            <a href="#" aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                        <li class="active"><a href="#">1</a></li>
                                                        <li><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">4</a></li>
                                                        <li><a href="#">5</a></li>
                                                        <li>
                                                            <a href="#" aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
