
@{
    Layout = null;
}

<div class="page-content" ng-controller="phanheTLbienmuc">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                        <label>PHÂN HỆ QUẢN LÝ THU THẬP TÀI LIỆU</label>
                                    </div>

                                    <div class="col-md-12" style="margin-bottom: 10px; border-bottom: 1px solid #eee;">
                                        <div class="col-md-2 text-center" style="border-right: 3px solid #ddd;">
                                            <span>
                                                <i class="fa fa-folder"></i>
                                                Tổng hồ sơ đang thu thập
                                            </span>
                                            <div class="text-center">
                                                <h3 class="font-200" style="color: blue; font-weight: 700; font-size: 50px;">18</h3>
                                            </div>
                                        </div>

                                        <div class="col-md-2 text-center" style="border-right: 3px solid #ddd;">
                                            <span>
                                                <i class="fa fa-clock-o"></i>
                                                Tổng số văn bản thu thập
                                            </span>
                                            <div class="text-center">
                                                <h3 class="font-200" style="color: blue; font-weight: 700; font-size: 50px;">8018</h3>
                                            </div>
                                        </div>

                                        <div class="col-md-2 text-center" style="border-right: 3px solid #ddd;">
                                            <span>
                                                <i class="fa fa-files-o"></i>
                                                Tổng số hồ sơ đã kiểm tra
                                            </span>
                                            <div class="text-center">
                                                <h3 class="font-200" style="color: blue; font-weight: 700; font-size: 50px;">2,315</h3>
                                            </div>
                                        </div>

                                        <div class="col-md-2 text-center" style="border-right: 3px solid #ddd;">
                                            <span>
                                                <i class="fa fa-file-text-o"></i>
                                                Tổng số văn bản đã kiểm tra
                                            </span>
                                            <div class="text-center">
                                                <h3 class="font-200" style="color: green; font-weight: 700; font-size: 50px;">2,500</h3>
                                            </div>
                                        </div>

                                        <div class="col-md-2 text-center" style="">
                                            <span>
                                                <i class="fa fa-archive"></i>
                                                Tổng số hồ sơ sai
                                            </span>
                                            <div class="text-center">
                                                <h3 class="font-200" style="color: red; font-weight: 700; font-size: 50px;">4,567</h3>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="col-md-12">
                                        <div class="col-md-4">
                                            <h5 style="border-bottom: 1px solid #ddd; margin-bottom: 10px; padding-bottom: 5px;">Chức năng thường dùng</h5>
                                            <ul style="list-style: none; padding:0;">
                                                <li style="padding-bottom: 10px;">
                                                    <a href="orders/qldgduyetycdangky/view.html" style="font-weight: bold;">
                                                        <i class="fa fa-cogs pull-left"></i>
                                                        Nhập mục lục nộp lưu
                                                    </a>
                                                </li>

                                                <li style="padding-bottom: 10px;">
                                                    <a href="orders/xdycduyetyeucau/view.html" style="font-weight: bold;">
                                                        <i class="fa fa-cogs pull-left"></i>
                                                        Kiểm tra mục lục
                                                    </a>
                                                </li>

                                                <li style="padding-bottom: 10px;">
                                                    <a href="orders/cungcapbansao/view.html" style="font-weight: bold;">
                                                        <i class="fa fa-cogs pull-left"></i>
                                                        Quản lý lần nộp lưu
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="col-md-4">

                                        </div>

                                        <div class="col-md-4">

                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>