
@{
    Layout = null;
}

<div class="page-content" ng-controller="phanheTLbienmuc">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                        <label style="font-size: 16px;">Xếp hồ sơ vào hộp</label>
                                        <a href="" class="pull-right"><i class="fa fa-question-circle"></i>Hướng dẫn</a>
                                    </div>
                                    <div class="col-md-7 col-xs-12" style="border-right: 1px solid #eee;">
                                        <div class="com-md-12" style="margin-bottom: 10px;">
                                            <div class="form-group col-md-12">
                                                <label class="col-sm-2" style="font-size: 14px;">Phông</label>
                                                <div class="col-sm-10">
                                                    <select name="" class="col-md-12">
                                                        <option value="">Bộ công chánh</option>
                                                        <option value="">Mục lục 02</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <h5>Danh sách hồ sơ chưa vào hộp</h5>
                                        </div>

                                        <div class="" style="margin-top: 10px;height: 366px; overflow: auto;">
                                            <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content bordered-palegreen">
                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <th>Hồ sơ số</th>
                                                        <th style="width: 50%;">Tiêu đề hồ sơ</th>
                                                        <th>Thời gian BĐ-KT</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>

                                    <div class="col-md-5 col-xs-12">
                                        <div class="com-md-12" style="margin-bottom: 10px;">
                                            <div class="form-group col-md-12">
                                                <label class="col-sm-3" style="font-size: 14px;">Mục lục</label>
                                                <div class="col-sm-9">
                                                    <select name="" class="col-md-12">
                                                        <option value="">Mục lục 01</option>
                                                        <option value="">Mục lục 02</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <h5>Danh sách hộp</h5>
                                        </div>

                                        <div class="" style="height: 366px;overflow: auto;">
                                            <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content bordered-palegreen">
                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <th>Mã hộp</th>
                                                        <th>SL hồ sơ</th>
                                                        <th>Vị trí kệ</th>
                                                        <th>Xem hồ sơ</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                        <td>
                                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#xemhoso">
                                                                <i class="fa fa-list"></i>Xem hồ sơ
                                                            </button>

                                                            <!-- Modal xem ho so -->
                                                            <div class="modal fade" id="xemhoso" role="dialog">
                                                                <div class="modal-dialog modal-lg">
                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            <h4 class="modal-title">Danh sách hồ sơ trong hộp: 1</h4>
                                                                        </div>
                                                                        <div class="modal-body" style="min-height: 330px;">
                                                                            <div class="collapse in">
                                                                                <div class="modal-body" style="min-height: 330px;">
                                                                                    <div class="collapse in">
                                                                                        <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                                                            <thead class="flip-content bordered-palegreen">
                                                                                                <tr>
                                                                                                    <th style="width: 10%">Hồ sơ số</th>
                                                                                                    <th style="width: 60%;">Tiêu đề hồ sơ</th>
                                                                                                    <th>Thời gian BĐ-KT</th>
                                                                                                    <th style="width: 10%">#</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>1</td>
                                                                                                    <td>Tờ trình hoạt động tháng 3 - 12/1966 của Bộ Công chánh</td>
                                                                                                    <td>-</td>
                                                                                                    <td>
                                                                                                        <button class="btn btn-danger btn-xs">
                                                                                                            <i class="fa fa-times"></i>
                                                                                                            Loại bỏ
                                                                                                        </button>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-warning" data-dismiss="modal">
                                                                                <i class="glyphicon glyphicon-log-in"></i>Thoát
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- end Modal xem ho so -->
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                        <td>
                                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#xemhoso">
                                                                <i class="fa fa-list"></i>Xem hồ sơ
                                                            </button>

                                                            <!-- Modal xem ho so -->
                                                            <div class="modal fade" id="xemhoso" role="dialog">
                                                                <div class="modal-dialog modal-lg">
                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            <h4 class="modal-title">Danh sách hồ sơ trong hộp: 1</h4>
                                                                        </div>
                                                                        <div class="modal-body" style="min-height: 330px;">
                                                                            <div class="collapse in">
                                                                                <div class="modal-body" style="min-height: 330px;">
                                                                                    <div class="collapse in">
                                                                                        <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                                                            <thead class="flip-content bordered-palegreen">
                                                                                                <tr>
                                                                                                    <th style="width: 10%">Hồ sơ số</th>
                                                                                                    <th style="width: 60%;">Tiêu đề hồ sơ</th>
                                                                                                    <th>Thời gian BĐ-KT</th>
                                                                                                    <th style="width: 10%">#</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>1</td>
                                                                                                    <td>Tờ trình hoạt động tháng 3 - 12/1966 của Bộ Công chánh</td>
                                                                                                    <td>-</td>
                                                                                                    <td>
                                                                                                        <button class="btn btn-danger btn-xs">
                                                                                                            <i class="fa fa-times"></i>
                                                                                                            Loại bỏ
                                                                                                        </button>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-warning" data-dismiss="modal">
                                                                                <i class="glyphicon glyphicon-log-in"></i>Thoát
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- end Modal xem ho so -->
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                        <td>
                                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#xemhoso">
                                                                <i class="fa fa-list"></i>Xem hồ sơ
                                                            </button>

                                                            <!-- Modal xem ho so -->
                                                            <div class="modal fade" id="xemhoso" role="dialog">
                                                                <div class="modal-dialog modal-lg">
                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            <h4 class="modal-title">Danh sách hồ sơ trong hộp: 1</h4>
                                                                        </div>
                                                                        <div class="modal-body" style="min-height: 330px;">
                                                                            <div class="collapse in">
                                                                                <div class="modal-body" style="min-height: 330px;">
                                                                                    <div class="collapse in">
                                                                                        <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                                                            <thead class="flip-content bordered-palegreen">
                                                                                                <tr>
                                                                                                    <th style="width: 10%">Hồ sơ số</th>
                                                                                                    <th style="width: 60%;">Tiêu đề hồ sơ</th>
                                                                                                    <th>Thời gian BĐ-KT</th>
                                                                                                    <th style="width: 10%">#</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>1</td>
                                                                                                    <td>Tờ trình hoạt động tháng 3 - 12/1966 của Bộ Công chánh</td>
                                                                                                    <td>-</td>
                                                                                                    <td>
                                                                                                        <button class="btn btn-danger btn-xs">
                                                                                                            <i class="fa fa-times"></i>
                                                                                                            Loại bỏ
                                                                                                        </button>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-warning" data-dismiss="modal">
                                                                                <i class="glyphicon glyphicon-log-in"></i>Thoát
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- end Modal xem ho so -->
                                                        </td>
                                                    </tr>

                                                    <tr>
                                                        <th>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <td>BGD</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                        <td>
                                                            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#xemhoso">
                                                                <i class="fa fa-list"></i>Xem hồ sơ
                                                            </button>

                                                            <!-- Modal xem ho so -->
                                                            <div class="modal fade" id="xemhoso" role="dialog">
                                                                <div class="modal-dialog modal-lg">
                                                                    <!-- Modal content-->
                                                                    <div class="modal-content">
                                                                        <div class="modal-header">
                                                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                                            <h4 class="modal-title">Danh sách hồ sơ trong hộp: 1</h4>
                                                                        </div>
                                                                        <div class="modal-body" style="min-height: 330px;">
                                                                            <div class="collapse in">
                                                                                <div class="modal-body" style="min-height: 330px;">
                                                                                    <div class="collapse in">
                                                                                        <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                                                            <thead class="flip-content bordered-palegreen">
                                                                                                <tr>
                                                                                                    <th style="width: 10%">Hồ sơ số</th>
                                                                                                    <th style="width: 60%;">Tiêu đề hồ sơ</th>
                                                                                                    <th>Thời gian BĐ-KT</th>
                                                                                                    <th style="width: 10%">#</th>
                                                                                                </tr>
                                                                                            </thead>
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td>1</td>
                                                                                                    <td>Tờ trình hoạt động tháng 3 - 12/1966 của Bộ Công chánh</td>
                                                                                                    <td>-</td>
                                                                                                    <td>
                                                                                                        <button class="btn btn-danger btn-xs">
                                                                                                            <i class="fa fa-times"></i>
                                                                                                            Loại bỏ
                                                                                                        </button>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-warning" data-dismiss="modal">
                                                                                <i class="glyphicon glyphicon-log-in"></i>Thoát
                                                                            </button>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div><!-- end Modal xem ho so -->
                                                        </td>
                                                    </tr>



                                                </tbody>
                                            </table>
                                        </div>

                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
