@{ 
    ViewBag.Title = "Home";
    Layout = null;
}

 <!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Lam</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="flip-scroll">
                                    <div id="simpledatatable_wrapper">
                                        <div class="row">
                                            <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                                <label style="font-size: 16px;">Danh sách các lần nộp lưu</label>
                                            </div>

                                            <div class="col-md-12 col-xs-12">
                                                <div class="" style="margin-bottom: 10px;">
                                                    <a href="thuthaptailieu/nllapmuclucnopluu/view.html" class="btn btn-primary">
                                                        <i class="fa fa-file"></i>
                                                        Thêm mới
                                                    </a>

                                                    <a href="thuthaptailieu/nllapmuclucnopluu/view.html" class="btn btn-info">
                                                        <i class="fa fa-pencil-square-o"></i>
                                                        Sửa
                                                    </a>

                                                    <button class="btn btn-info">
                                                        <i class="fa fa-check"></i>
                                                        Duyệt
                                                    </button>

                                                    <button class="btn btn-danger">
                                                        <i class="fa fa-times"></i>
                                                        Xóa
                                                    </button>
                                                </div>
                                                <div class="" style="height: 400px; overflow: auto;">
                                                    <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                        <thead class="flip-content bordered-palegreen">
                                                            <tr>
                                                                <th>Ngày tạo</th>
                                                                <th style="width: 40%;">Lần nộp</th>
                                                                <th style="width: 25%;">Tên đơn vị</th>
                                                                <th>SL số hồ sơ</th>
                                                                <th>Trạng thái</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2017</td>
                                                                <td>Nộp lần 7 năm 2017</td>
                                                                <td>Q2</td>
                                                                <td>1</td>
                                                                <td>Đã duyệt</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>

                                                <nav aria-label="Page navigation">
                                                    <ul class="pagination">
                                                        <li>
                                                            <a href="#" aria-label="Previous">
                                                                <span aria-hidden="true">&laquo;</span>
                                                            </a>
                                                        </li>
                                                        <li class="active"><a href="#">1</a></li>
                                                        <li><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">4</a></li>
                                                        <li><a href="#">5</a></li>
                                                        <li>
                                                            <a href="#" aria-label="Next">
                                                                <span aria-hidden="true">&raquo;</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->