
@{
    ViewBag.Title = "xuatmucnopluu";
    Layout = null;
}

<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">Lam</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="flip-scroll">
                                    <div id="simpledatatable_wrapper">
                                        <div class="row">
                                            <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                                <label style="font-size: 16px;">Export mục lục nộp lưu</label>
                                            </div>

                                            <div class="col-md-12">
                                                <form action="">
                                                    <div class="form-group col-md-12">
                                                        <div class="col-sm-2 col-xs-12">
                                                            <label>Lần nộp lưu(*)</label>
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <input type="text" class="form-control" placeholder="">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <div class="col-sm-2 col-xs-12">
                                                            <label>Cơ quan</label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" placeholder="">
                                                        </div>

                                                        <div class="col-sm-1 col-xs-12">
                                                            <label>Ngày lập</label>
                                                        </div>
                                                        <div class="col-sm-5 col-xs-12">
                                                            <div class="input-group">
                                                                <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy">
                                                                <span class="input-group-addon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <div class="col-sm-2 col-xs-12">
                                                            <label>Người lập</label>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <input type="text" class="form-control" placeholder="">
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <div class="col-sm-2 col-xs-12">
                                                            <label>Ghi chú</label>
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <textarea class="col-sm-12 col-xs-12" placeholder=""></textarea>
                                                        </div>
                                                    </div>

                                                    <div class="form-group col-md-12">
                                                        <div class="col-sm-2 col-xs-12">
                                                            <label>Đính kèm file số</label>
                                                        </div>
                                                        <div class="col-sm-10">
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="pull-right">
                                                        <button class="btn btn-primary" style="margin-left: 5px;">
                                                            <i class="fa fa-cogs"></i>Export
                                                        </button>

                                                        <button class="btn btn-danger" style="margin-right: 30px;">
                                                            <i class="fa fa-backward"></i>Quay về
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>

                                            <div class="col-md-12 col-xs-12" style="margin-top: 10px;">
                                                <label>Tiến trình</label>

                                                <div class="progress" style="display: inline-block; width: 100%;">
                                                    <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                         aria-valuemin="0" aria-valuemax="100" style="width:10%">
                                                        10%
                                                    </div>
                                                </div>

                                                <button class="btn btn-primary btn-sm">
                                                    <i class="fa fa-download"></i>
                                                    Click để tải xuống
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->


