
@{
    Layout = null;
}

 <!-- Page Content -->
<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                        <label style="font-size: 16px;">Danh sách hồ sơ cần kiểm tra</label>
                                    </div>

                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <div class="col-sm-2">
                                                <label for="" class="control-label pull-right" style="margin-top: 8px;">Phông tài liệu</label>
                                            </div>
                                            <div class="col-sm-5">
                                                <select name="" id="" class="col-sm-12">
                                                    <option value=""></option>
                                                    <option value="">Phòng chỉnh lý</option>
                                                    <option value="">Phòng chỉnh lý</option>
                                                </select>
                                            </div>

                                            <div class="col-sm-1" style="padding: 0">
                                                <label for="" class="control-label pull-right" style="margin-top: 8px;">Tình trạng</label>
                                            </div>
                                            <div class="col-sm-4">
                                                <select name="" id="" class="col-sm-12">
                                                    <option value=""></option>
                                                    <option value="">Phòng chỉnh lý</option>
                                                    <option value="">Phòng chỉnh lý</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="" style="margin-bottom: 10px;">

                                            <button class="btn btn-primary">
                                                <i class="fa fa-save"></i> Ghi nhận
                                            </button>

                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-search-plus"></i> Tìm kiếm
                                            </button>

                                        </div>
                                    </div>

                                    <div class="col-md-12 col-xs-12">

                                        <div style="height: 400px; overflow: auto;">
                                            <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content bordered-palegreen">
                                                    <tr>
                                                        <th>Hộp số</th>
                                                        <th style="width: 10%;">Hồ sơ số</th>
                                                        <th style="width: 20%;">Tiêu đề hồ sơ</th>
                                                        <th>Ngày tháng BĐ-KT</th>
                                                        <th>SL tờ</th>
                                                        <th>THBQ</th>
                                                        <th>Ghi chú</th>
                                                        <th>Sai</th>
                                                        <th>Báo sai</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>2017</td>
                                                        <td>Chỉnh lý TL 2018</td>
                                                        <td>UBND Tinh Can Tho-1992-2003</td>
                                                        <td>1</td>
                                                        <td>Đã duyệt</td>
                                                        <td>Đã duyệt</td>
                                                        <td>Đã duyệt</td>
                                                        <td>Đã duyệt</td>
                                                        <td>Đã duyệt</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>

                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
<!-- /Page Content -->

