
@{
    Layout = null;
}

<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-6 col-xs-12" style="border-right: 1px solid #eee;">
                                        <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                            <label>Chọn ngăn kệ cần chuyển</label>
                                        </div>
                                        <div class="">
                                            <div class="form-group col-md-12" style="margin-bottom: 3px;">
                                                <label class="col-sm-3 control-label no-padding-right">
                                                    Kho
                                                </label>
                                                <div class="col-sm-9">
                                                    <select name="" class="col-md-12">
                                                        <option value="">Kho số 1</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-12" style="margin-bottom: 3px;">
                                                <label class="col-sm-3 control-label no-padding-right">
                                                    Phòng kho
                                                </label>
                                                <div class="col-sm-9">
                                                    <select name="" class="col-md-12">
                                                        <option value="">Phòng số 1</option>
                                                        <option value="">Trung tâm lưu trữ quốc gia II</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-12" style="margin-bottom: 3px;">
                                                <label class="col-sm-3 control-label no-padding-right">
                                                    Kệ
                                                </label>
                                                <div class="col-sm-9">
                                                    <select name="" class="col-md-12">
                                                        <option value="">1</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-12" style="margin-bottom: 3px;">
                                                <label class="col-sm-3 control-label no-padding-right">
                                                    Mặt
                                                </label>
                                                <div class="col-sm-9">
                                                    <select name="" class="col-md-12">
                                                        <option value="">1</option>
                                                        <option value="">2</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-primary" style="float: right; margin: 5px;">
                                                Chuyển <i class="fa fa-forward"></i>
                                            </button>
                                        </div>
                                        <div class="" style="border-top: 1px solid #ddd; height: 311px; overflow-y: auto; overflow-x: hidden; padding: 10px;">

                                            <div class="row">
                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <p style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</p>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <p class="text-center" style="color: red;">Đầy 70%</p>
                                                    <div class="footer text-center" style="border-top: 1px solid #ddd">
                                                        <div class="checkbox">
                                                            <label>
                                                                <input type="checkbox">
                                                                <span class="text"></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>


                                            </div> <!-- end row -->
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-12">
                                        <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;">
                                            <label>Vị trí chuyển đến</label>
                                        </div>
                                        <div class="">
                                            <div class="form-group col-md-12" style="margin-bottom: 3px;">
                                                <label class="col-sm-3 control-label no-padding-right">
                                                    Kho
                                                </label>
                                                <div class="col-sm-9">
                                                    <select name="" class="col-md-12">
                                                        <option value="">Kho số 1</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-12" style="margin-bottom: 3px;">
                                                <label class="col-sm-3 control-label no-padding-right">
                                                    Phòng kho
                                                </label>
                                                <div class="col-sm-9">
                                                    <select name="" class="col-md-12">
                                                        <option value="">Phòng số 1</option>
                                                        <option value="">Trung tâm lưu trữ quốc gia II</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-12" style="margin-bottom: 3px;">
                                                <label class="col-sm-3 control-label no-padding-right">
                                                    Kệ
                                                </label>
                                                <div class="col-sm-9">
                                                    <select name="" class="col-md-12">
                                                        <option value="">1</option>
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group col-md-12" style="margin-bottom: 3px;">
                                                <label class="col-sm-3 control-label no-padding-right">
                                                    Mặt
                                                </label>
                                                <div class="col-sm-9">
                                                    <select name="" class="col-md-12">
                                                        <option value="">1</option>
                                                        <option value="">2</option>
                                                    </select>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="" style="border-top: 1px solid #ddd; height: 311px; overflow-y: auto; overflow-x: hidden; padding: 10px;">

                                            <div class="row">

                                            </div> <!-- end row -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
