
@{
    Layout = null;
}

<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-3 col-xs-12" style="border-right: 1px solid #eee;">
                                        <label>Tìm kiếm</label>
                                        <input type="text" class="form-control">
                                        <div class="" style="margin-top: 10px; padding-left: 10px;">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                    <span class="text">Bộ Công chánh và Giao thông vận tải</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                    <span class="text">Bộ Công chánh và Giao thông</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                    <span class="text">Nha Viễn thông Việt Nam</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                    <span class="text">Nha Canh nông</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox">
                                                    <span class="text">Quốc vụ khanh đặc trách văn hóa</span>
                                                </label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-9 col-xs-12" style="">
                                        <div class="col-md-12" style="margin-bottom: 10px;padding-bottom: 5px; border-bottom: 1px solid #ddd;padding-left: 0;">
                                            <div class="col-md-8" style="padding: 0;">
                                                <button type="button" class="btn btn-primary">
                                                    <i class="glyphicon glyphicon-file"></i>Xuất Excel
                                                </button>

                                                <button type="button" class="btn btn-primary">
                                                    <i class="fa fa-print"></i>In mục lục
                                                </button>
                                            </div>
                                            <div class="col-md-4 float-right">
                                                <label>Hạn chế</label>
                                                <select name="" id="">
                                                    <option value="">Tất cả</option>
                                                    <option value="">Sử dụng</option>
                                                    <option value="">Hạn chế sử dụng</option>
                                                </select>
                                            </div>

                                        </div>
                                        <div class="col-md-12 col-xs-12" style="height: 500px; overflow: auto; display: inline-block;">
                                            <div class="col-md-12">
                                                <h3 class="text-center"><b>DANH SÁCH HỒ SƠ - PHÔNG: 55</b></h3>
                                            </div>

                                            <table class="table table-striped table-hover">
                                                <thead class="">
                                                    <tr>
                                                        <th style="text-align: center; border: 1px solid;">STT</th>
                                                        <th style="text-align: center; border: 1px solid;">Hộp số</th>
                                                        <th style="text-align: center; border: 1px solid;">Hồ sơ số</th>
                                                        <th style="text-align: center; border: 1px solid;">Tiêu đề hồ sơ</th>
                                                        <th style="text-align: center; border: 1px solid;">Thời gian BĐ-KT</th>
                                                        <th style="text-align: center; border: 1px solid;">SL tờ</th>
                                                        <th style="text-align: center; border: 1px solid;">TH Bảo quản</th>
                                                        <th style="text-align: center; border: 1px solid;">Ghi chú</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
