
@{
    Layout = null;
}

<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12" style="border-right: 1px solid #eee;">
                                        <div class="col-md-12" style="margin-bottom: 10px;padding-bottom: 5px; border-bottom: 1px solid #ddd;padding-left: 0;">
                                            <label style="font-size: 15px;">Thông tin hồ sơ</label>
                                        </div>

                                        <div class="col-md-12" style="padding: 0;">
                                            <div class="form-group col-md-12" style="margin-bottom: 5px;">
                                                <label class="col-sm-3 control-label" style="padding: 0;">Cơ quan</label>
                                                <div class="col-sm-9" style="padding: 0;">
                                                    <select name="" id="" class="col-xs-12">
                                                        <option value="">Trung Tâm Lư Trưc Quốc Gia</option>
                                                        <option value="">Trung Tâm Lư Trưc Quốc Gia</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12" style="padding: 0;">
                                            <div class="form-group col-md-12" style="margin-bottom: 5px;">
                                                <label class="col-sm-3 control-label" style="padding: 0;">Phông</label>
                                                <div class="col-sm-9" style="padding: 0;">
                                                    <select name="" id="" class="col-xs-12">
                                                        <option value="">Bộ công chánh</option>
                                                        <option value="">Trung Tâm Lư Trưc Quốc Gia</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12" style="padding: 0;">
                                            <div class="form-group col-md-12" style="margin-bottom: 5px;">
                                                <label class="col-sm-3 control-label" style="padding: 0;">Mục lục</label>
                                                <div class="col-sm-9" style="padding: 0;">
                                                    <select name="" id="" class="col-xs-12">
                                                        <option value="">Mục lục 01</option>
                                                        <option value="">Trung Tâm Lư Trưc Quốc Gia</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12" style=" padding: 0;">
                                            <div class="form-group col-md-12" style="margin-bottom: 5px;">
                                                <label class="col-sm-3 control-label" style="padding:0;">Hồ sơ số</label>
                                                <div class="col-sm-9" style="padding: 0;">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="">
                                                        <span class="input-group-btn">
                                                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                                        </span>
                                                    </div><!-- /input-group -->
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-12 col-xs-12" style="height: 354px; overflow: auto; display: inline-block;">
                                            <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content bordered-palegreen">
                                                    <tr>
                                                        <th>Hồ sơ số</th>
                                                        <th>Tiêu đề hồ sơ</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>

                                    <div class="col-md-8 col-xs-12" style="">
                                        <div class="col-md-12" style="margin-bottom: 10px;padding-bottom: 5px; border-bottom: 1px solid #ddd;padding-left:0;">
                                            <button type="button" class="btn btn-primary">
                                                <i class="glyphicon glyphicon-file"></i>Xuất Excel
                                            </button>

                                            <button type="button" class="btn btn-primary">
                                                <i class="fa fa-print"></i>In mục lục
                                            </button>
                                        </div>
                                        <div class="col-md-12 col-xs-12" style="height: 500px; overflow: auto; display: inline-block;">
                                            <div class="col-xs-12">
                                                <h3 class="text-center"><b>HỒ SƠ: 1</b></h3>
                                            </div>

                                            <div class="table-responsive" style="width: 100%;">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th style="text-align: center; border: 1px solid;">STT</th>
                                                            <th style="text-align: center; border: 1px solid;">Số, ký hiệu</th>
                                                            <th style="text-align: center; border: 1px solid;">Ngày tháng</th>
                                                            <th style="text-align: center; border: 1px solid;">Tác giả</th>
                                                            <th style="text-align: center; border: 1px solid;">Trích yếu</th>
                                                            <th style="text-align: center; border: 1px solid;">Tờ số</th>
                                                            <th style="text-align: center; border: 1px solid;">Ghi chú</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">54</td>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                            <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                            <td style="text-align: center; border: 1px solid;">1065</td>
                                                            <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">54</td>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                            <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                            <td style="text-align: center; border: 1px solid;">1065</td>
                                                            <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">54</td>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                            <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                            <td style="text-align: center; border: 1px solid;">1065</td>
                                                            <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">54</td>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                            <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                            <td style="text-align: center; border: 1px solid;">1065</td>
                                                            <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">54</td>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                            <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                            <td style="text-align: center; border: 1px solid;">1065</td>
                                                            <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">54</td>
                                                            <td style="text-align: center; border: 1px solid;">1</td>
                                                            <td style="text-align: center; border: 1px solid;">Báo cáo hoạt động và thành quả năm 1968, chương trình công tác năm 1969 của Bộ Công chánh và Giao thông Vận tải</td>
                                                            <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                            <td style="text-align: center; border: 1px solid;">1065</td>
                                                            <td style="text-align: center; border: 1px solid;">Vĩnh viễn</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>