
@{
    Layout = null;
}

<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body" style="min-height:520px;">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="col-md-12">
                                    <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 20px;padding: 0;">
                                        <label style="font-size: 15px;">Thông tin phiếu hủy hồ sơ</label>
                                        <a href="" class="pull-right"><i class="fa fa-question-circle"></i>Hướng dẫn</a>
                                    </div>
                                    <form role="form">
                                        <div class="form-group col-md-12">
                                            <label class="col-sm-2 control-label">Đợt hủy(*)</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" placeholder="Đợt hủy">
                                            </div>
                                            <label class="col-sm-2 control-label">Ngày hủy</label>
                                            <div class="col-sm-4">
                                                <div class="input-group">
                                                    <input class="form-control date-picker" id="id-date-picker-1" type="text" data-date-format="dd-mm-yyyy">
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-sm-2 control-label no-padding-right">Mô tả(*)</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="Mô tả">
                                            </div>
                                        </div>

                                        <div class="form-group col-md-12">
                                            <label class="col-sm-2 control-label no-padding-right">Hội đồng thẩm định</label>
                                            <div class="col-sm-10">
                                                <select name="" id="" class="col-md-6 col-xs-12">
                                                    <option value="">Hội đồng hủy tài liệu</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="footer pull-right">
                                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="">
                                                <i class="fa fa-save"></i>Lưu
                                            </button>

                                            <a title="Quay về" class="btn btn-warning" href="content/qlhtllapphieutieuhuy/view.html"><i class="fa fa-backward"></i>Quay về</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>