
@{
    Layout = null;
}

<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-3 col-xs-12" style="border-right: 1px solid #eee;">
                                        <label>Danh sách giá kệ</label>
                                        <select name="" id="" class="col-md-12" style="margin-bottom: 5px;">
                                            <option value="">Phòng số 1</option>
                                            <option value="">Phòng số 2</option>
                                        </select>
                                        <div class="" style="margin-top: 10px;">
                                            <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content bordered-palegreen">
                                                    <tr>
                                                        <th>Mã kệ</th>
                                                        <th>Mặt - Tầng - Khoang</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>2 - 3 - 5</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>2</td>
                                                        <td>2 - 4 - 5</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>3</td>
                                                        <td>2 - 4 - 5</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>4</td>
                                                        <td>2 - 3 - 5</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="" style="margin-bottom: 10px;">
                                            <button type="button" class="btn btn-primary">
                                                <i class="glyphicon glyphicon-file"></i>Tạo ngăn
                                            </button>

                                            <button type="button" class="btn btn-info">
                                                <i class="fa fa-pencil-square-o"></i>Sửa
                                            </button>

                                            <button type="button" class="btn btn-danger">
                                                <i class="fa fa-times"></i>Sửa
                                            </button>
                                        </div>

                                        <div class="">
                                            <label class="col-md-2 no-padding-right" style="margin-top: 8px;">
                                                Mặt
                                            </label>
                                            <select name="" class="col-md-10 col-xs-12" style="margin-bottom: 5px;">
                                                <option value="">Phòng số 1</option>
                                                <option value="">Phòng số 2</option>
                                            </select>

                                        </div>

                                        <div class="" style="box-shadow: 1px 2px 3px 1px #0000003d; min-height: 410px; overflow-y: auto; overflow-x: hidden; padding: 10px;">
                                            <div class="row">
                                                <label class="col-md-12" style="border-bottom: 1px solid #ddd; padding-bottom: 5px;">Mô hình kệ 2 - mặt 1</label>
                                            </div>
                                            <div class="row">

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <h4 style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</h4>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <br>
                                                    <div class="progress" style="margin: 0;">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                                            <span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                    <p class="text-center">Đầy 70%</p>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <h4 style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</h4>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <br>
                                                    <div class="progress" style="margin: 0;">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                                            <span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                    <p class="text-center">Đầy 70%</p>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <h4 style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</h4>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <br>
                                                    <div class="progress" style="margin: 0;">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                                            <span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                    <p class="text-center">Đầy 70%</p>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <h4 style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</h4>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <br>
                                                    <div class="progress" style="margin: 0;">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                                            <span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                    <p class="text-center">Đầy 70%</p>
                                                </div>

                                                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12" style="border: 1px solid #ddd; margin-left: 15px; margin-bottom: 10px;">
                                                    <div class="text-center">
                                                        <h4 style="margin-bottom: 0px; color: #046eb5;">10 Hồ sơ</h4>
                                                    </div>
                                                    <h3 class="text-center" style="margin-top: 5px;">8 Hộp</h3>
                                                    <br>
                                                    <div class="progress" style="margin: 0;">
                                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                                             aria-valuemin="0" aria-valuemax="100" style="width:70%">
                                                            <span class="sr-only">70% Complete</span>
                                                        </div>
                                                    </div>
                                                    <p class="text-center">Đầy 70%</p>
                                                </div>

                                            </div> <!-- end row -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>