
@{
    Layout = null;
}

<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12" style="border-bottom: 1px solid #ddd;padding:0;">
                                        <label style="font-size: 18px;" class="col-md-10">
                                            Sổ danh sách phông lưu trữ
                                        </label>

                                        <div class="col-md-2" style="margin-bottom: 5px;">
                                            <button type="button" class="btn btn-primary">
                                                <i class="glyphicon glyphicon-file"></i>Xuất Excel
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-xs-12">
                                        <div class="" style="height: 450px; overflow: auto;">
                                            <div class="com-md-12">
                                                <h3 class="text-center"><b>SỔ ĐĂNG KÝ MỤC LỤC HỒ SƠ</b></h3>
                                            </div>
                                            <table class="table">
                                                <thead class="">
                                                    <tr>
                                                        <th style="text-align: center; border: 1px solid;">STT</th>
                                                        <th style="text-align: center; border: 1px solid;">Mã phông</th>
                                                        <th style="text-align: center; border: 1px solid;">Số của mục lục</th>
                                                        <th style="text-align: center; border: 1px solid;">Tên mục lục</th>
                                                        <th style="text-align: center; border: 1px solid;">Năm của tài liệu</th>
                                                        <th style="text-align: center; border: 1px solid;">Số lượng HS (ĐVBQ) trong mục lục</th>
                                                        <th style="text-align: center; border: 1px solid;">Số hộp</th>
                                                        <th style="text-align: center; border: 1px solid;">Số mét</th>
                                                        <th style="text-align: center; border: 1px solid;">Số trang của mục lục</th>
                                                        <th style="text-align: center; border: 1px solid;">Số bản của mục lục</th>
                                                        <th style="text-align: center; border: 1px solid;">Ghi chú</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục 01</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">22/4/1966 - 16/6/1968</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục 01</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">22/4/1966 - 16/6/1968</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục 01</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">22/4/1966 - 16/6/1968</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục 01</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">22/4/1966 - 16/6/1968</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục 01</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">22/4/1966 - 16/6/1968</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục 01</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">22/4/1966 - 16/6/1968</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục 01</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">22/4/1966 - 16/6/1968</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục 01</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">22/4/1966 - 16/6/1968</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục 01</td>
                                                        <td style="text-align: center; border: 1px solid;">Mục lục số 01 (gồm tất cả các hồ sơ)</td>
                                                        <td style="text-align: center; border: 1px solid;">1065</td>
                                                        <td style="text-align: center; border: 1px solid;">1</td>
                                                        <td style="text-align: center; border: 1px solid;">54</td>
                                                        <td style="text-align: center; border: 1px solid;">22/4/1966 - 16/6/1968</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                        <td style="text-align: center; border: 1px solid;">26</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>