
@{
    Layout = null;
}

<div class="page-content">
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12" style="border-bottom: 1px solid #ddd; margin-bottom: 10px;padding-left: 15px;">
                                        <label style="font-size: 18px;">Giao tài liệu cho phòng đọc theo yêu cầu của độc giả</label>
                                    </div>

                                    <div class="col-md-5 col-xs-12" style="border-right: 1px solid #eee;">
                                        <label>Danh sách yêu cầu cần giao</label>
                                        <div class="">
                                            <div class="" style="height: 450px; overflow: auto;">
                                                <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                    <thead class="flip-content bordered-palegreen">
                                                        <tr>
                                                            <th>Số yêu cầu</th>
                                                            <th>Ngày</th>
                                                            <th>Họ tên</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="cursor: pointer;">
                                                            <td>2018_0314_03034474</td>
                                                            <td>14/03/2018</td>
                                                            <td>Ngọc Lê</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>2018_0314_03034474</td>
                                                            <td>14/03/2018</td>
                                                            <td>Ngọc Lê</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>2018_0314_03034474</td>
                                                            <td>14/03/2018</td>
                                                            <td>Ngọc Lê</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>2018_0314_03034474</td>
                                                            <td>14/03/2018</td>
                                                            <td>Ngọc Lê</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    <li>
                                                        <a href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                    <li class="active"><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li>
                                                        <a href="#" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-xs-12">
                                        <div class="">
                                            <div class="col-md-12" style="padding-left: 0;">
                                                <label class="col-md-2" style="padding:0;margin-top: 8px;">
                                                    Người nhận
                                                </label>

                                                <select name="" class="col-xs-12 col-md-8">
                                                    <option value="">Trung tâm lưu trữ quốc gia</option>
                                                    <option value="">Trung tâm lưu trữ quốc gia</option>
                                                </select>
                                            </div>
                                            <div class="" style="padding: 5px 0px; display: inline-block;">
                                                <div class="col-md-6" style="padding: 0;margin-top: 5px;">
                                                    <p>Có 0 tài liệu cần giao</p>
                                                </div>
                                                <div class="col-md-6">
                                                    <button class="btn btn-primary">
                                                        <i class="fa fa-save"></i> Ghi nhận giao
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="" style="height: 387px; overflow: auto;width: 100%;">
                                            <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content bordered-palegreen">
                                                    <tr>
                                                        <th style="width: 50px;">
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </th>
                                                        <th style="width: 100px;">Hồ sơ</th>
                                                        <th style="width: 100px;">Loại</th>
                                                        <th>Tiêu đề</th>
                                                        <th style="width: 100px;">Vị trí</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox" style="margin:0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                        <td>Giám đốc</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
