
@{
    Layout = null;
}

<div class="page-content" >
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body" style="min-height:900px">
                        <div class="flip-scroll">
                            <form role="form" style="display:inline-block;">
                                <div class="form-title col-md-12">
                                    <div class="col-md-6" style="padding:0;">
                                        Cấu hình các tiện ích
                                    </div>
                                    <div class="col-md-6">
                                        <button class="btn btn-primary pull-right">
                                            <i class="fa fa-save"></i>Ghi nhận
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-sm-2">Gửi email</label>
                                    <div class="col-sm-10">
                                        <div class="checkbox" style="margin:0">
                                            <label>
                                                <input type="checkbox">
                                                <span class="text"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="inputEmail3" class="col-sm-2 control-label no-padding-right">Địa chỉ email(*)</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="" class="col-sm-2 control-label no-padding-right">Mật khẩu Email(*)</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Mật khẩu email">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="inputPassword3" class="col-sm-2 control-label no-padding-right">Port gửi email(*)</label>
                                    <div class="col-sm-10">
                                        <input type="number" class="form-control" placeholder="Port gửi">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="inputPassword3" class="col-sm-2 control-label no-padding-right">Server email(*)</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Server email">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label class="col-sm-2">Bảo mật SLL(*)</label>
                                    <div class="col-sm-10">
                                        <div class="checkbox" style="margin:0">
                                            <label>
                                                <input type="checkbox">
                                                <span class="text"></span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="" class="col-sm-2 control-label no-padding-right">Chữ ký</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Chữ ký">
                                    </div>
                                </div>
                                <div class="form-title col-md-12">
                                    Cấu hình thẻ độc giả
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="" class="col-sm-2 control-label no-padding-right">Cơ quan 1</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Cơ quan 1">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="" class="col-sm-2 control-label no-padding-right">Cơ quan 2</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Cơ quan 2">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="" class="col-sm-2 control-label no-padding-right">Địa điểm</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Địa điểm">
                                    </div>
                                </div>

                                <hr class="wide" />
                                <div class="form-title">
                                    Cấu hình khác
                                </div>

                                <div class="form-group col-md-12">
                                    <label for="" class="col-sm-2 control-label no-padding-right">Mã phòng đọc</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Phòng đọc">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="" class="col-sm-2 control-label no-padding-right">Số hộp/1m tài liệu</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="Số hộp">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="" class="col-sm-2 control-label no-padding-right">Thời hạn duyệt yêu cầu khai thác(ngày)</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" placeholder="0">
                                    </div>
                                </div>
                                <br>
                                <div class="form-group col-md-12">
                                    <label for="" class="col-md-2 col-sm-2 control-label no-padding-right">Thời hạn duyệt yêu cầu mở tài khoản(ngày)</label>
                                    <div class="col-md-10 col-sm-10">
                                        <input type="text" class="form-control" placeholder="0">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>