
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layouttop.cshtml";
}


<style>
    .active_nhom {
        background-color: #0000ff38 !important;
        font-weight: bold;
    }
</style>

<link href="~/assets/css/dataTables.bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/hethong/apphethong.js"></script>

<script src="~/Scripts/hethong/qlnguoidungController.js"></script>
<script src="~/Scripts/hethong/qlchucvuController.js"></script>
<script src="~/Scripts/hethong/qlnhomnguoidung.js"></script>
<script src="~/Scripts/hethong/qlphongban.js"></script>
<script src="~/Scripts/hethong/phanquyentailieuController.js"></script>
<script src="~/Scripts/hethong/phanquyenchucnangController.js"></script>
<script src="~/Scripts/hethong/qlquytrinhController.js"></script>

<div class="main-container container-fluid" ng-app="apphethong">
    <!-- Page Container -->
    <div class="page-container">
        <!-- Page Sidebar -->
        <div class="page-sidebar" id="sidebar">
            <!-- Page Sidebar Header-->
            <div class="sidebar-header-wrapper">
                <input type="text" class="searchinput" />
                <i class="searchicon fa fa-search"></i>
                <div class="searchhelper">Search Reports, Charts, Emails or Notifications</div>
            </div>
            <!-- /Page Sidebar Header -->
            <!-- Sidebar Menu -->



            <ul class="nav sidebar-menu">

                @foreach (var item in Model)
                {
                    <li>
                        <a href="" class="menu-dropdown">
                            <i class="menu-icon fa fa-list"></i>
                            <span class="menu-text">@item.Tennhom</span>
                            <i class="menu-expand"></i>
                        </a>

                        @Html.Action("chucnang", "cosodulieu", new { id = item.Id })
                    </li>
                }

            </ul>
            <!-- /Sidebar Menu -->
        </div>
        <!-- /Page Sidebar -->
        <!-- Page Content -->
        <div ng-view></div>
        <!-- /Page Content -->

    </div>
    <!-- /Page Container -->
    <!-- Main Container -->

</div>



<!--Basic Scripts-->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.min.js"></script>
<script src="~/assets/js/slimscroll/jquery.slimscroll.min.js"></script>

<!--Beyond Scripts-->
<script src="~/assets/js/beyond.min.js"></script>

<!--Page Related Scripts-->
<script src="~/assets/js/datatable/jquery.dataTables.min.js"></script>
<script src="~/assets/js/datatable/ZeroClipboard.js"></script>
<script src="~/assets/js/datatable/dataTables.tableTools.min.js"></script>
<script src="~/assets/js/datatable/dataTables.bootstrap.min.js"></script>
<script src="~/assets/js/datatable/datatables-init.js"></script>
<script>
        InitiateSimpleDataTable.init();
        InitiateEditableDataTable.init();
        InitiateExpandableDataTable.init();
        InitiateSearchableDataTable.init();
</script>


<script>
        var activeMenu = {
            init: function () {
                var path = location.href.split('?')[0];
                $('#sidebar ul.sidebar-menu>li>ul>li>a').each(function (key, elem) {
                    var href = $(elem).attr('href').split('?')[0];
                    if (path.indexOf(href)>=0) {
                        $(elem).parents('li:first').addClass('active')
                                .parents('li:first').addClass('open active');
                        // $(elem).parents('li:eq(1)',).addClass('open active');
                    }
                });
            }
        };
        activeMenu.init();
</script>

<script src="~/assets/js/datetime/bootstrap-datepicker.js"></script>

<script>
	$('.date-picker').datepicker();
</script>


<script>
    $(document).ready(function () {
        chon_phong_coquan();
    });

    function chon_phong_coquan() {
        var a = document.getElementsByClassName("chon_phong");
        //console.log(a);
        for (var i = 0; i < a.length; i++) {
            a[i].onclick = function () {
                if (this.checked) {
                    console.log(this.getAttribute("data-id"));
                }
            }
        }
    }
</script>





@section script_bottom{
    <script type="text/javascript">
        
        $(document).ready(function () {
            var clickNhom = document.getElementsByClassName('click_nhom');
            clickNhom.cls
            //console.log(clickNhom);
            
            for (var i = 0; i < clickNhom.length; i++) {
                clickNhom[i].onclick = function () {
                    console.log(this.innerHTML);
                }
                console.log(clickNhom[i].innerText);
            }

            $('.click_nhom').click(function () {
                alert('hello');
            })
        })
        //console.log(clickNhom);
        
    </script>

<script src="~/assets/js/fuelux/treeview/tree-custom.min.js"></script>
<script src="~/assets/js/fuelux/treeview/treeview-init.js"></script>

<script>
    jQuery(document).ready(function () {
        UITree.init();
    });
</script>
}





