
@{
    Layout = null;
}

<div class="page-content" >
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12" style="border-bottom: 1px dotted #ddd; margin-bottom: 10px;">
                                        <div class="col-md-9 col-xs-12" style="padding: 0">
                                            <label style="font-size: 18px;margin: 0;">
                                                Nhật ký thay đổi dữ liệu
                                            </label>
                                        </div>

                                        <div class="col-md-3" style="margin-bottom: 5px; display: inline-block;">
                                            <button class="btn btn btn-danger pull-right" style="">
                                                <i class="glyphicon glyphicon-remove"></i>Xóa tất cả
                                            </button>

                                            <button class="btn btn btn-danger pull-right" style="margin-right: 5px;">
                                                <i class="glyphicon glyphicon-remove" disable="disable"></i>Xóa
                                            </button>
                                        </div>
                                    </div>

                                    <div class="col-md-12 col-xs-12">
                                        <div class="" style="overflow: auto; height: 412px;">
                                            <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content bordered-palegreen">
                                                    <tr>
                                                        <th>STT</th>
                                                        <th>Ngày</th>
                                                        <th>Người dùng</th>
                                                        <th>Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Import hồ sơ</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Đăng nhập hệ thống</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Đăng nhập hệ thống</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Đăng nhập hệ thống</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Đăng nhập hệ thống</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Đăng nhập hệ thống</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Đăng nhập hệ thống</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Đăng nhập hệ thống</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Đăng nhập hệ thống</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Đăng nhập hệ thống</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Đăng nhập hệ thống</td>
                                                    </tr>
                                                    <tr style="cursor: pointer;">
                                                        <td>1</td>
                                                        <td>20/03/2018 03:39 PM</td>
                                                        <td>Admin</td>
                                                        <td>Đăng nhập hệ thống</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xs-12">
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
