
@{
    Layout = null;
}

<div class="page-content" >
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-3 col-xs-12" style="border-right: 1px solid #eee;">
                                        <div class="col-md-12" style="border-bottom: 1px dotted #ddd; margin-bottom: 10px;">
                                            <label>Nhóm người dùng</label>
                                        </div>
                                        <div class="">
                                            <div style="height: 450px; overflow: auto;display: inline-block;width: 100%;">
                                                <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                    <thead class="flip-content bordered-palegreen">
                                                        <tr>
                                                            <th>Mã</th>
                                                            <th>Tên nhóm</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr>
                                                            <td>BQ</td>
                                                            <td>Phòng quản trị</td>
                                                        <tr>
                                                            <td>BGD</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr>
                                                            <td>BGD</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr>
                                                            <td>BGD</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr>
                                                            <td>BGD</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr>
                                                            <td>BGD</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr>
                                                            <td>BGD</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr>
                                                            <td>BGD</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr>
                                                            <td>BGD</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr>
                                                            <td>BGD</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    <li>
                                                        <a href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                    <li class="active"><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li>
                                                        <a href="#" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-md-9 col-xs-12">
                                        <div class="col-md-12" style="border-bottom: 1px dotted #ddd; margin-bottom: 10px;">
                                            <label>Mục lục tài liệu</label>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12" style="padding: 5px 10px;">
                                                <label class="col-md-1" style="padding: 0; margin-top: 7px;">
                                                    Phân hệ:
                                                </label>
                                                <select name="" class="col-md-9 col-xs-12">
                                                    <option value="">Trung tâm lưu trữ quốc gia</option>
                                                    <option value="">Trung tâm lưu trữ quốc gia</option>
                                                </select>
                                                <button class="btn btn-primary" style="margin-left: 5px;" class="col-md-2">
                                                    <i class="glyphicon glyphicon-copy"></i> Ghi nhận
                                                </button>
                                            </div>
                                        </div>

                                        <div class="" style="height: 409px; overflow: auto;">
                                            <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content bordered-palegreen">
                                                    <tr>
                                                        <th>Tên chức năng</th>
                                                        <th style="width: 150px; text-align: center;">Cho phép</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Lập mục lục nộp lưu</td>
                                                        <td style="text-align: center;">
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lập mục lục nộp lưu</td>
                                                        <td style="text-align: center;">
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lập mục lục nộp lưu</td>
                                                        <td style="text-align: center;">
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lập mục lục nộp lưu</td>
                                                        <td style="text-align: center;">
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lập mục lục nộp lưu</td>
                                                        <td style="text-align: center;">
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Lập mục lục nộp lưu</td>
                                                        <td style="text-align: center;">
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
