
@{
    Layout = null;
}

<div class="page-content" >
    <!-- Page Breadcrumb -->
    <div class="page-breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="#">{{tieude}}</a>
            </li>
            <li>
                <a href="#">Tables</a>
            </li>
            <li class="active">Data Tables</li>
        </ul>
    </div>
    <!-- /Page Breadcrumb -->
    <!-- Page Body -->
    <div class="page-body" style="margin-top: 0;">
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <div class="widget">
                    <div class="widget-body">
                        <div class="flip-scroll">
                            <div id="simpledatatable_wrapper">
                                <div class="row">
                                    <div class="col-md-12" style="border-bottom: 1px dotted #ddd; margin-bottom: 10px;">
                                        <label style="font-size: 18px;margin: 0;">
                                            Phân quyền truy cập tài liệu
                                        </label>
                                    </div>

                                    <div class="col-md-4 col-xs-12" style="border-right: 1px solid #eee;">
                                        <div class="col-md-12" style="border-bottom: 1px dotted #ddd; margin-bottom: 10px;">
                                            <label>Nhóm người dùng</label>
                                        </div>
                                        <div>
                                            <div style="height: 450px; overflow: auto; display: inline-block; width: 100%">
                                                <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                    <thead class="flip-content bordered-palegreen">
                                                        <tr>
                                                            <th>Mã</th>
                                                            <th>Tên nhóm</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>
                                                        <tr style="cursor: pointer;">
                                                            <td>TT1</td>
                                                            <td>Giám đốc</td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <nav aria-label="Page navigation">
                                                <ul class="pagination">
                                                    <li>
                                                        <a href="#" aria-label="Previous">
                                                            <span aria-hidden="true">&laquo;</span>
                                                        </a>
                                                    </li>
                                                    <li class="active"><a href="#">1</a></li>
                                                    <li><a href="#">2</a></li>
                                                    <li>
                                                        <a href="#" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                    <div class="col-md-8 col-xs-12">
                                        <div class="col-md-12" style="border-bottom: 1px dotted #ddd; margin-bottom: 10px;">
                                            <label>Mục lục tài liệu</label>
                                        </div>

                                        <div class="row">
                                            <label class="col-sm-1">Cơ quan:</label>
                                            <select name="" class="col-md-4 col-xs-12">
                                                <option value="">Trung tâm lưu trữ quốc gia</option>
                                                <option value="">Trung tâm lưu trữ quốc gia</option>
                                            </select>

                                            <label class="col-sm-1" style="margin-right: 5px;padding: 8px;">Phông:</label>
                                            <select name="" class="col-md-3 col-xs-12">
                                                <option value="">Bộ công chánh</option>
                                                <option value="">Trung tâm lưu trữ quốc gia</option>
                                            </select>

                                            <button class="btn btn-primary col-md-2" style="margin-left: 5px;">
                                                <i class="glyphicon glyphicon-copy"></i> Ghi nhận
                                            </button>
                                        </div>

                                        <div style="height: 413px; overflow: auto; width: 100%;">
                                            <table class="table table-hover table-bordered table-striped table-condensed flip-content">
                                                <thead class="flip-content bordered-palegreen">
                                                    <tr>
                                                        <th style="width: 70px;">Xem</th>
                                                        <th style="width: 70px;">Thêm</th>
                                                        <th style="width: 70px;">Sửa</th>
                                                        <th>Mục lục</th>
                                                        <th>Tên mục lục</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>1</td>
                                                        <td>Mục lục 1</td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>1</td>
                                                        <td>Mục lục 1</td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>1</td>
                                                        <td>Mục lục 1</td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>1</td>
                                                        <td>Mục lục 1</td>
                                                    </tr>

                                                    <tr>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="checkbox" style="margin: 0;">
                                                                <label>
                                                                    <input type="checkbox">
                                                                    <span class="text"></span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>1</td>
                                                        <td>Mục lục 1</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <nav aria-label="Page navigation">
                                            <ul class="pagination">
                                                <li>
                                                    <a href="#" aria-label="Previous">
                                                        <span aria-hidden="true">&laquo;</span>
                                                    </a>
                                                </li>
                                                <li class="active"><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                                <li><a href="#">4</a></li>
                                                <li><a href="#">5</a></li>
                                                <li>
                                                    <a href="#" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /Page Body -->
</div>
